body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carousel-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s;
  justify-content: center;
}

.carousel-slide {
  flex: 0 0 200px; /* Ancho fijo de 200px */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #3498db;
  color: #fff;
  margin-right: 20px; /* Espacio entre las diapositivas */
  transform: translateX(0);
  transition: transform 0.5s;
}
.hidden-slide {
  transform: translateX(-100%); /* Mueve los slides fuera de la vista */
  opacity: 0; /* También puedes ajustar la opacidad a 0 si deseas que no sean visibles en absoluto */
  pointer-events: none; /* Evita que los slides ocultos sean interactivos */
}


button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}
.dot-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #3498db; /* Color activo para el dot actual */
}
